@import url(https://fonts.googleapis.com/css?family=VT323);

:root {

    --cor-primaria: #1fcf36;

}

* {

    margin: 0;
    padding: 0;

}

body {

    background-color: rgb(26, 23, 23);

}

.blink {

    animation: blink 1s steps(1, end) infinite;

}

@keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cabecalho {

    padding: 2% 15% 0 15%;

}

.cabecalho__conteudo {

    display: flex;
    justify-content: space-between;
    text-align: center;
    border: var(--cor-primaria);
    border-style: double;
}

.cabecalho__conteudo_security {

    width: 60px;
    height: 60px;
    padding: 30px;
}

.cabecalho__texto {

    display: flex;
    font-size: 2.2rem;
    color: var(--cor-primaria);
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;

}

.apresentacao {

    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {

    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.apresentacao__conteudo__texto__textarea {

    font-size: 1.5rem;
    color: var(--cor-primaria);
    font-family: 'Courier New', Courier, monospace;
}

.apresentacao__conteudo__textarea {

    padding: 10px;
    background-color: rgb(26, 23, 23);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    letter-spacing: 1px;
    max-width: 100%;
    line-height: 2;
    border-radius: 5px;
    border: 2px solid var(--cor-primaria);
    resize: none;
    text-transform: uppercase;
    outline: none;
}

.apresentacao__conteudo__div__btn {

    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__div__btn__copiar {

    display: flex;
    justify-content: flex-end;
}

.apresentacao__conteudo__textarea__codificado {

    padding: 10px;
    background-color: rgb(26, 23, 23);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    letter-spacing: 1px;
    max-width: 100%;
    line-height: 2;
    border-radius: 5px;
    border: 0px solid var(--cor-primaria);
    resize: none;
    text-transform: uppercase;
    outline: none;
}

.apresentacao__conteudo__btn {

    font-family: 'VT323', monospace;
    background: rgb(26, 23, 23);
    border-style: solid;
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    cursor: pointer;
    font-size: 2.2rem;
    min-width: 200px;
    padding: .5rem;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    text-decoration: none;

    &:hover {

        background: var(--cor-primaria);
        color: rgb(26, 23, 23);
    }
}

.rodape {

    padding: 2% 15% 0 15%;
    text-align: center;

}

.rodape__div {

    border: var(--cor-primaria);
    border-style: double;
    padding: 1% 0 1% 0;
}

.rodape__texto {

    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    

}